
:root{
    --color-1: #fe8d2c;
    --color-2: #00452A;
    --color-3: #dcffd6;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

@font-face {
    font-family: Playfair,Georgia, 'Times New Roman', Times, serif;
    src: url(/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face{
    font-family: Buenard, Verdana, Geneva, Tahoma, sans-serif;
    src: url(/assets/fonts/Buenard-Regular.ttf);
}
a{
    text-decoration: none;
    font-family: Buenard, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-3);
}
h1{
    margin: 0;
    font-size: 4em;
    font-family: Playfair;
    font-weight: 400;
    color: var(--color-1);
}
h2{
    font-family: Playfair;
    font-size: calc(1em + 1.5vw);
    font-weight: 400;
    color: var(--color-3);
}
@media (max-width: 800px) {
    h2 {
        font-size: calc(1.2em + 1.5vw);
    }
}
h3{
    font-family: Playfair;
    font-size: calc(.8em + .6vw);
    font-weight: 400;
    color: var(--color-3);
}
@media (max-width: 800px) {
    h3 {
        font-size: calc(1em + 1vw)!important;
    }
}
p{    
    font-family: Buenard, Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(.8em + .5vw);
    color: var(--color-3);
}
@media (max-width: 800px) {
    p {
        font-size: calc(.8em + 1vw);
    }
}
.highlights-b{
    color: var(--color-2);
    font-weight: bold;
}
.highlights{
    color: var(--color-2);
}
.highlights-c{
    color: var(--color-1);
}
body{
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    width: 100dvw;
    height: fit-content;
    background-color: var(--color-2);
    overflow-y: scroll;
}
    body::before{
        position: fixed;
        content: '';
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: url(/assets/imgs/bg7.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-position-x: 73%;
    }
@media (max-width: 800px) {
    body::before {
        background-image: none;
    }
}

header{
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-2);
    border-bottom: 1px solid var(--color-1);
    z-index: 99;
}
    header img{
        height: 50px;
        margin: auto 2rem;
    }

    .hamburger {
        width: 40px;
        height: 30px;
        position: relative;
        margin: 1rem 2rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .hamburger:hover {
        transform: scale(0.9);
    }

    .hamburger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .5s ease-in-out, opacity .35s;
    }

    .hamburger span:nth-child(1) {
        top: 0px;
    }

    .hamburger span:nth-child(2) {
        top: 13px;
    }

    .hamburger span:nth-child(3) {
        top: 26px;
    }

    .hamburger.active span:nth-child(1) {
        top: 13px;
        transform: rotate(-135deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
        transition: .5s ease-in-out, opacity 0s;
    }

    .hamburger.active span:nth-child(3) {
        top: 13px;
        transform: rotate(135deg);
    }
    .menu{
        position: fixed;
        right: 0;
        top: calc(-100% - 81px);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        color: #dcffd6;
        font-size: calc(.8em + .5vw);
        padding: 2rem;
        background-color: var(--color-2);
        outline: 1px solid var(--color-1);
        transition: top .1s ease-out;
        z-index: 90;
    }
        .menu-active{
            top: 81px;
        }
        .menu span:hover{
            text-decoration: underline;
        }
            #detalle-servicio{
                display: block;
                margin-top: 1rem;
                cursor: pointer;
            }

/* #region MAIN */

main{
    position: relative;
    top: 80px;
}
    .wrapper{
        margin: 2rem;
    }

    /* #region MASCOTA */

    #mascota{
        position: absolute;
        top: -81px;
    }
    
        .wrapper .mascota{
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;
            padding-bottom: 2rem;
            border-bottom: 1px solid var(--color-1);
        }
            @media only screen and (max-width: 800px) {
                .wrapper .mascota{
                    gap: 1rem;
                }
            }
            .foto-mascota {
                position: relative;
                width: 400px;
                padding-bottom: 100px;
            }
            
            .slider-mascota {
                display: flex;
                position: relative;
                width: 100%;
                max-width: 500px;
                overflow: hidden;
                margin: auto;
                justify-content: center;
            }
            
            @media only screen and (max-width: 800px) {
                .slider-mascota {
                    justify-content: flex-start;
                }
            }
            
            .slider-mascota img {
                display: none;
                width: 90%;
                max-width: 85vw;
                max-height: 500px;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 100%;
                border: 6px solid var(--color-1);
            }
            
            .slider-mascota img:first-child {
                display: block;
            }
            
            .thumbnails-mascota {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                margin: 1rem;
            }
            
            @media only screen and (max-width: 800px) {
                .thumbnails-mascota {
                    margin: 1rem 0;
                }
            }
            
            .thumbnails-mascota img {
                width: 70px !important;
                height: auto;
                margin: 0 5px;
                cursor: pointer;
                transition: transform 0.3s ease;
                object-fit: cover;
                border-radius: 10px;
                aspect-ratio: 1;
            }
            
            .thumbnails-mascota img:hover {
                transform: scale(1.1);
            }
            
            .mascota .datos-mascota{
                max-width: 500px;
            }
                .datos-mascota p{
                    margin: .5rem 0;
                }

    /* #endregion MASCOTA */

    /* #region PLANTA */


    .slider {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 500px;
        overflow: hidden;
        margin: auto;
        justify-content: center;
    }
        @media only screen and (max-width: 800px) {
            .slider{
                justify-content: flex-start;
            }
        }

    .slider img {
        display: none;
        width: 100%;
        height: auto;
    }

    .slider img:first-child {
        display: block;
    }


    .thumbnails {
        display: flex;
        justify-content: flex-start;
        margin: 1rem;
        flex-wrap: wrap;
        max-width: 350px;
    }
        @media only screen and (max-width: 800px) {
            .thumbnails{
                margin: 1rem 0;
            }
        }

    .thumbnails img {
        width: 70px!important;
        height: auto;
        margin: 0 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 1;
    }

    .thumbnails img:hover {
        transform: scale(1.1);
    }

    .planta{
        position: relative;
        display: flex;
        padding-bottom: 100px;
        gap: 4rem;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--color-1);
        margin-top: 4rem;
    }
    @media (max-width: 800px) {
        .planta {
            flex-direction: column;
            gap: 1rem;
        }
    }
        .foto-planta{
            display: flex;
            position: relative;
            width: 400px;
            height: fit-content;
            flex-direction: column;
        }
            .foto-planta img{
                width: 90%;
                max-width: 85vw;
                max-height: 500px;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 10px;
                margin: .2em;
            }
        .planta .datos-planta{
            position: relative;
            max-width: min(500px, 85vw);
        
        }
            .datos-planta #tipodeplanta{
                font-size: calc(1.5em + .9vw)!important;
                font-weight: bold;
            }
            .description-title{
                position: relative;
                margin-left: 2rem;
                cursor: pointer;
            }
                .description-title::before{
                    content: '';
                    position: absolute;
                    top: .7rem;
                    right: calc(100% + 1rem);
                    height: 15px;
                    width: 15px;
                    background-image: url(/assets/imgs/arrow-2.svg);
                    background-position: center;
                    background-size: 60%;
                    background-repeat: no-repeat;
                }
                .description-title-on::before{
                    transform: rotate(90deg);
                }
                .description-title:hover{
                    text-decoration: underline;
                }
            .description{
                display: none;
            }
            .description-on{
                display: block;
            }
            .datos-planta h3{
                margin-bottom: .5rem;
            }
            .datos-planta p{
                text-wrap: wrap;
                margin: .7rem 0;
            }
        #desarrollo-planta{
            position: relative;
            top: -81px;
        }

    /* #endregion PLANTA */

    /* #region DESARROLLO PLANTA */

    .desarrollo-planta{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--color-1);
    }

    /* #endregion DESARROLLO PLANTA */

    /* #region CONTACTO JARDINERO */

    .contacto-jardinero{
        border-bottom: 1px solid var(--color-1);
        color: white;
        font-family: Buenard;
        border-top: 1px solid var(--color-1);
        padding-bottom: 20vh;
    }
        .contacto-jardinero h2{
            margin-bottom: 1rem;
        }
        .contacto-jardinero .description textarea{
            max-width: 100%;
        }

    /* #endregion CONTACTO JARDINERO */


/* #endregion MAIN */

/* #region FOOTER */

footer{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--color-2);
    border-top: 1px solid var(--color-1);
}
    footer .container{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        color: var(--color-3);
    }
        @media only screen and (max-width: 800px) {
            footer .container{
                justify-content: space-between;
            }
        }
        footer .container .info{
            display: flex;
            gap: 2rem;
            margin-right: 5rem;
            margin-left: 1rem;
            font-size: calc(.5em + .5vw);
        }
            @media only screen and (max-width: 800px) {
                footer .container .info{
                    margin-right: 0;flex-direction: column;
                    gap: 0;
                    font-size: calc(.7em + .5vw);
                }
            }
            @media only screen and (max-width: 800px) {
                footer .container .info p{
                    margin: 0.2rem;
                }
            }
        footer .container img{
            height: 65px;
            margin: 10px 5rem;
        }
            @media only screen and (max-width: 800px) {
                footer .container img{
                    margin: 10px 2rem 10px 1rem;
                }
            }

/* #endregion FOOTER */