<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurora - Catalogo de Plantas de Interior</title>
    <link rel="stylesheet" href="./plant-catalog.css">
</head>
<body>

    <header class="fade-in">
        <a href="https://auroraurn.pet"><img class="logo-header" src="./assets/imgs/logo4.png" alt="logo"></a>
        <div class="menu-items">
          <a><span><h3 class="menu-item" id="menu-item1">¿Quiénes somos?</h3></span></a>
          <a href="https://wa.me/593999784402?text=Gracias%20por%20contactarte%20con%20auroraurn.pet%20.%20Estamos%20aquí%20para%20ayudarte%20con%20cualquier%20inquietud%20."><span><h3 class="menu-item" id="menu-item3">Contacto</h3></span></a>
        </div>
        <div class="whatsapp fade-in"><a href="https://wa.me/593999784402?text=Gracias%20por%20contactarte%20con%20auroraurn.pet%20.%20Estamos%20aquí%20para%20ayudarte%20con%20cualquier%20inquietud%20." target="_blank"><div class="whatsapp-icon"></div></a>
        </div>
    </header>

    <div class="main-container">
      <h1>Catálogo de <span class="highlights-c">Plantas de Interior</span></h1>

      <div class="plant-container">
        <div class="plant" id="plant1">
            <img class="plant-img" src="./assets/imgs/plants/AnthuriumRojo .png" alt="">
            <h2 class="plant-name">Anturio Rojo</h2>
            <span>
                <h3>Dificultad: Baja</h3>
                <h3>Origen: Sudamerica</h3>
                <h3>Luz: Indirecta</h3>
                <h3>Riego: Moderado</h3>
            </span>
            
        </div>
        <div class="plant" id="plant2">
            <img class="plant-img" src="./assets/imgs/plants/Bambu.png" alt="">
            <h2 class="plant-name">Bambú</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: Oriente</h3>
                <h3>Luz: Indirecta brillante</h3>
                <h3>Riego: Abundante</h3>
            </span>
        </div>
        <div class="plant" id="plant3">
            <img class="plant-img" src="./assets/imgs/plants/CalaBlanco.png" alt="">
            <h2 class="plant-name">Cala Blanca</h2>
            <span><h3>Dificultad: Media</h3>
                <h3>Origen: Sudáfrica</h3>
                <h3>Luz: Semisombra</h3>
                <h3>Riego: Abundante</h3>
            </span>
        </div>
        <div class="plant" id="plant4">
            <img class="plant-img" src="./assets/imgs/plants/CalatheaTriostar.png" alt="">
            <h2 class="plant-name">Calathea Triostar</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: Selva tropical brasileña </h3>
                <h3>Luz: Indirecta brillante</h3>
                <h3>Riego: Abundante</h3>
            </span>
        </div>
        <div class="plant" id="plant5">
            <img class="plant-img" src="./assets/imgs/plants/Jade.png" alt="">
            <h2 class="plant-name">Jade</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: Centro América</h3>
                <h3>Luz: Indirecta brillante</h3>
                <h3>Riego: Moderado</h3>
            </span>
        </div>
        <div class="plant" id="plant6">
            <img class="plant-img" src="./assets/imgs/plants/MonsteraAdasonii.png" alt="">
            <h2 class="plant-name">Monstera Adasonii</h2>
            <span>
                <h3>Dificultad: Baja</h3>
                <h3>Origen: Sudamérica</h3>
                <h3>Luz: Indirecta</h3>
                <h3>Riego: Moderado</h3>
            </span>
        </div>
        <div class="plant" id="plant7">
            <img class="plant-img" src="./assets/imgs/plants/MonsteraDeliciosa.png" alt="">
            <h2 class="plant-name">Monstera Deliciosa o Costilla de Adán</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: Sudamerica</h3>
                <h3>Luz: Indirecta</h3>
                <h3>Riego: Moderado</h3>
            </span>
        </div>
        <div class="plant" id="plant8">
            <img class="plant-img" src="./assets/imgs/plants/SanPedro.png" alt="">
            <h2 class="plant-name">San Pedro</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: Andes</h3>
                <h3>Luz: Directa</h3>
                <h3>Riego: Escaso</h3>
            </span>
        </div>
        <div class="plant" id="plant9">
            <img class="plant-img" src="./assets/imgs/plants/Sanseviera.png" alt="">
            <h2 class="plant-name">Sanseviera</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: África</h3>
                <h3>Luz: Indirecta</h3>
                <h3>Riego: Escaso</h3>
            </span>
        </div>
        <div class="plant" id="plant10">
            <img class="plant-img" src="./assets/imgs/plants/Schefflera.png" alt="">
            <h2 class="plant-name">Schefflera</h2>
            <span><h3>Dificultad: Baja</h3>
                <h3>Origen: Asia</h3>
                <h3>Luz: Abundante</h3>
                <h3>Riego: Escaso</h3>
            </span>
        </div>
        <div class="plant" id="plant11">
            <img class="plant-img" src="./assets/imgs/plants/SyngoniumConfettii.jpeg" alt="">
            <h2 class="plant-name">Syngonium Confettii</h2>
            <span><h3>Dificultad: Media</h3>
                <h3>Origen: Sudamérica</h3>
                <h3>Luz: Indirecta abundante</h3>
                <h3>Riego: Moderado</h3>
            </span>
        </div>
        <div class="plant" id="plant12">
            <img class="plant-img" src="./assets/imgs/plants/SyngoniumNeonPink.png" alt="">
            <h2 class="plant-name">Syngonium Neon Pink</h2>
            <span><h3>Dificultad: Media</h3>
                <h3>Origen: Sudamérica</h3>
                <h3>Luz: Indirecta abundante</h3>
                <h3>Riego: Moderado</h3>
            </span>
        </div>
        <div class="plant" id="plant13">
            <img class="plant-img" src="./assets/imgs/plants/SyngoniumThreeKings.jpeg" alt="">
            <h2 class="plant-name">Syngonium Three Kings</h2>
            <span><h3>Dificultad: Media</h3>
                <h3>Origen: Sudamérica</h3>
                <h3>Luz: Indirecta</h3>
                <h3>Riego: Moderado</h3>
            </span>
        </div>
    </div>
      <div class="plant-fullsize">
        <div class="plant-bg"></div>
        <img class="plant-fullsize-img" src="" alt="">
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

$(document).ready(function() {
    $('.fade-in').addClass('fade-in-1');

    $('.plant-img').click(function() {
        $('.plant-fullsize').addClass('fullsize-active');
    });

    $('.plant-fullsize').click(function() {
        $('.plant-fullsize').removeClass('fullsize-active');
    });

    $('.plant-img').click(function() {
        var clickedImageSrc = $(this).attr('src');
        $('.plant-fullsize-img').attr('src', clickedImageSrc);
    });

});



</script>

</body>
</html>